In [11]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("movie_dataset.csv");
df

    Users  Movie1  Movie2  Movie3  Movie4  Movie5  Movie6  Movie7
0       1       2       4       3       3       2       3       3
1       2       1       4       3       2       1       5       3
2       3       4       3       3       3       4       1       5
3       4       1       2       4       3       1       2       1
4       5       0       3       5       5       0       2       2
5       6       2       3       1       1       2       2       2
6       7       5       5       2       2       5       4       4
7       8       2       1       0       2       2       3       3
8       9       3       2       2       2       3       4       2
9      10       3       2       1       4       4       5       1
10     11       3       4       4       3       5       1       4
11     12       4       3       1       4       1       2       1
12     13       5       5       2       3       2       0       0
13     14       1       1       4       3       0       2       2
14     15       2       2       3       3       2       1       5
15     16       0       0       4       4       1       4       2
16     17       2       0       3       5       4       3       4
17     18       1       2       3       1       2       3       4
18     19       4       5       3       2       4       5       3
19     20       1       2       4       0       3       1       2

In [13]:
def toSeries(df):
    ser1 = df.iloc[:,3]
  
    print("\nLast column as a Series:\n")
    print(ser1)
  
    # Checking type
    print(type(ser1))

In [14]:
seriesData=[];
for index,data in df.iterrows():
    l1=[]
    flag=False;
    for d in data:
#         print(d)
        if(flag):
            l1.append(d)
        flag=True
#     print(l1)
    seriesData.append(l1)
    
#     seriesData.append(pd.Series(l1))
#     print(data)
#     toSeries(data)
#     print(np.linalg.norm(pd.Series(l1)-pd.Series(l1)))
#     break
# for i in seriesData:
#     print(i)
#     break
print(seriesData)

[[2, 4, 3, 3, 2, 3, 3], [1, 4, 3, 2, 1, 5, 3], [4, 3, 3, 3, 4, 1, 5], [1, 2, 4, 3, 1, 2, 1], [0, 3, 5, 5, 0, 2, 2], [2, 3, 1, 1, 2, 2, 2], [5, 5, 2, 2, 5, 4, 4], [2, 1, 0, 2, 2, 3, 3], [3, 2, 2, 2, 3, 4, 2], [3, 2, 1, 4, 4, 5, 1], [3, 4, 4, 3, 5, 1, 4], [4, 3, 1, 4, 1, 2, 1], [5, 5, 2, 3, 2, 0, 0], [1, 1, 4, 3, 0, 2, 2], [2, 2, 3, 3, 2, 1, 5], [0, 0, 4, 4, 1, 4, 2], [2, 0, 3, 5, 4, 3, 4], [1, 2, 3, 1, 2, 3, 4], [4, 5, 3, 2, 4, 5, 3], [1, 2, 4, 0, 3, 1, 2]]

In [15]:
for i in range(len(seriesData)-1):
    print(seriesData[i])
    print(seriesData[i+1])
    sum=0;
    for j in seriesData[i]:
        for k in seriesData[i+1]:
            sum+=(k-j)**2
    print(np.sqrt(sum))
    print("\n")
#     print(np.linalg.norm(pd.Series(seriesData[i])-pd.Series(seriesData[i+1]));
#           np.

[2, 4, 3, 3, 2, 3, 3]
[1, 4, 3, 2, 1, 5, 3]
10.723805294763608


[1, 4, 3, 2, 1, 5, 3]
[4, 3, 3, 3, 4, 1, 5]
13.2664991614216


[4, 3, 3, 3, 4, 1, 5]
[1, 2, 4, 3, 1, 2, 1]
14.247806848775006


[1, 2, 4, 3, 1, 2, 1]
[0, 3, 5, 5, 0, 2, 2]
15.652475842498529


[0, 3, 5, 5, 0, 2, 2]
[2, 3, 1, 1, 2, 2, 2]
14.696938456699069


[2, 3, 1, 1, 2, 2, 2]
[5, 5, 2, 2, 5, 4, 4]
17.08800749063506


[5, 5, 2, 2, 5, 4, 4]
[2, 1, 0, 2, 2, 3, 3]
17.88854381999832


[2, 1, 0, 2, 2, 3, 3]
[3, 2, 2, 2, 3, 4, 2]
9.9498743710662


[3, 2, 2, 2, 3, 4, 2]
[3, 2, 1, 4, 4, 5, 1]
11.575836902790225


[3, 2, 1, 4, 4, 5, 1]
[3, 4, 4, 3, 5, 1, 4]
13.711309200802088


[3, 4, 4, 3, 5, 1, 4]
[4, 3, 1, 4, 1, 2, 1]
14.560219778561036


[4, 3, 1, 4, 1, 2, 1]
[5, 5, 2, 3, 2, 0, 0]
16.15549442140351


[5, 5, 2, 3, 2, 0, 0]
[1, 1, 4, 3, 0, 2, 2]
16.492422502470642


[1, 1, 4, 3, 0, 2, 2]
[2, 2, 3, 3, 2, 1, 5]
13.0


[2, 2, 3, 3, 2, 1, 5]
[0, 0, 4, 4, 1, 4, 2]
14.933184523068078


[0, 0, 4, 4, 1, 4, 2]
[2, 0, 3, 5, 4, 3, 4]
17.146428199482248


[2, 0, 3, 5, 4, 3, 4]
[1, 2, 3, 1, 2, 3, 4]
13.74772708486752


[1, 2, 3, 1, 2, 3, 4]
[4, 5, 3, 2, 4, 5, 3]
14.2828568570857


[4, 5, 3, 2, 4, 5, 3]
[1, 2, 4, 0, 3, 1, 2]
17.233687939614086